/* Reset CSS */
html {
    /* Almost 16px */
    /* HACK => 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 45px;
    background-color: var(--while-color);
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.border-header {
    width: 100%;
    height: 1px;
    background-color: var(--border-primary);
}
/* Header Logo */
.header__logo {
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
}
.header__logo-img {
    width: 100%;
}

/* Header Hash tag */
.header__hash-tag {
    display: flex;
    align-items: center;
    width: 110px;
    height: 100%;
    margin-left: 10px;
}
.header__hash-tag-img {
    width: 100%;
}

/* Navbar */
.header__navbar {

}
.header__navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}
.header__navbar-item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;
}
.header__navbar-item-link {
    height: 100%;
    line-height: 45px;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}

/* Header vip upgrade */
.header__upgrade-vip {
    height: 36px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 196, 14, 0.5);
    border-radius: 50px;
    background-color: rgba(255, 196, 14, 0.1);
}
.header__upgrade-vip-text {
    margin-top: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffc40e;
}

/* Header controls */
.header__controls {
    display: flex;
    align-items: center;
}
.header__controls-list {
    list-style: none;
    display: flex;
    margin-right: 8px;
}
.header__controls-item {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
}
.header__controls-item-icon {
    width: 24px;
}
.header__controls-item-img {
    width: 40px;
}
.header__controls-login {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    padding: 3px 8px 3px 3px;
    border-radius: 35px;
}
.header__controls-login-img {
    width: 40px;
    border-radius: 50%;
}
.header__controls-login-body {
    display: flex;
}
.header__controls-login-text {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 8px;
    display: block;
}
.header__controls-login-icon {
    margin-left: 4px;
    margin-top: -1px;
    font-size: 1.4rem;
    color: #999;
}